In [39]:
import pandas as pd
df=pd.read_csv("matches.csv")

# 1.Which team has won/lost maximum number of matches while chasing?

In [40]:
df.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [63]:
chasers = df.loc[df['team2'] == df['winner']]
chaselost = df.loc[df['team2'] != df['winner']]
print("Team with Maximum Wins while Chasing:",chasers['winner'].value_counts()[:2])
print("Team with most loses while chasing:",chaselost['winner'].value_counts()[:2])

Team with Maximum Wins while Chasing: Kolkata Knight Riders    58
Mumbai Indians           51
Name: winner, dtype: int64
Team with most loses while chasing: Mumbai Indians         58
Chennai Super Kings    51
Name: winner, dtype: int64

# 3. Which toss decision is best for each ground?

In [42]:
team2wins = chasers.groupby("venue")["winner"].count().to_frame()
battingfirst = df.loc[df['team1'] == df['winner']]
team1wins = battingfirst.groupby("venue")['winner'].count().to_frame()
#print(team1wins,team2wins)
ans = team1wins['winner'] - team2wins['winner']
ans.fillna("Chase First")
ddf2 = ans.apply(lambda row:('Bat First' if row > 0.0 else 'Chase First'))
ddf2

venue
ACA-VDCA Stadium                                        Chase First
Barabati Stadium                                          Bat First
Brabourne Stadium                                         Bat First
Buffalo Park                                              Bat First
De Beers Diamond Oval                                   Chase First
Dr DY Patil Sports Academy                              Chase First
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium       Bat First
Dubai International Cricket Stadium                     Chase First
Eden Gardens                                            Chase First
Feroz Shah Kotla                                        Chase First
Feroz Shah Kotla Ground                                 Chase First
Green Park                                              Chase First
Himachal Pradesh Cricket Association Stadium              Bat First
Holkar Cricket Stadium                                  Chase First
IS Bindra Stadium                                       Chase First
JSCA International Stadium Complex                      Chase First
Kingsmead                                                 Bat First
M Chinnaswamy Stadium                                   Chase First
M. A. Chidambaram Stadium                               Chase First
M. Chinnaswamy Stadium                                  Chase First
MA Chidambaram Stadium, Chepauk                           Bat First
Maharashtra Cricket Association Stadium                 Chase First
Nehru Stadium                                             Bat First
New Wanderers Stadium                                   Chase First
Newlands                                                  Bat First
OUTsurance Oval                                         Chase First
Punjab Cricket Association IS Bindra Stadium, Mohali    Chase First
Punjab Cricket Association Stadium, Mohali              Chase First
Rajiv Gandhi International Stadium, Uppal               Chase First
Rajiv Gandhi Intl. Cricket Stadium                        Bat First
Sardar Patel Stadium, Motera                            Chase First
Saurashtra Cricket Association Stadium                  Chase First
Sawai Mansingh Stadium                                  Chase First
Shaheed Veer Narayan Singh International Stadium        Chase First
Sharjah Cricket Stadium                                 Chase First
Sheikh Zayed Stadium                                      Bat First
St George's Park                                        Chase First
Subrata Roy Sahara Stadium                                Bat First
SuperSport Park                                         Chase First
Vidarbha Cricket Association Stadium, Jamtha              Bat First
Wankhede Stadium                                        Chase First
Name: winner, dtype: object

# 4.Which player has won maximum number of MoM awards while chasing?

In [43]:
mom = df.loc[df['team2'] == df['winner']]

In [44]:
f = mom.groupby('player_of_match')['player_of_match'].count()
f.sort_values(ascending = False)[:3]

player_of_match
YK Pathan    11
CH Gayle     10
G Gambhir    10
Name: player_of_match, dtype: int64

# 5.Which batsman has played maximum number of dot balls?

In [45]:
cf =pd.read_csv("deliveries.csv")

In [46]:
cf.head()
cf['dismissal_kind'].unique()

array([nan, 'caught', 'bowled', 'run out', 'lbw', 'caught and bowled',
       'stumped', 'retired hurt', 'hit wicket', 'obstructing the field'],
      dtype=object)

In [47]:
ans = cf.query('batsman_runs == 0')

In [48]:
ans.groupby('batsman')['batsman_runs'].count().sort_values(ascending = False)[:1]

batsman
V Kohli    1493
Name: batsman_runs, dtype: int64

# 6. Which batsmen came to crease but never got a chance to face a ball?

In [49]:
ans = []
ws = cf.groupby('match_id')
for match,data in ws:
    ns = set(data['non_striker'])
    batter = set(data['batsman'])
    ans += (ns-batter)
ans

['MJ McClenaghan',
 'DR Smith',
 'R Bhatia',
 'A Nehra',
 'Sandeep Sharma',
 'CH Morris',
 'MG Johnson',
 'MJ McClenaghan',
 'MK Pandey',
 'PJ Cummins',
 'S Aravind',
 'JD Unadkat',
 'A Nehra',
 'S Aravind',
 'S Nadeem',
 'Sandeep Sharma',
 'PP Ojha',
 'AB Dinda',
 'JDP Oram',
 'I Sharma',
 'Joginder Sharma',
 'DP Vijaykumar',
 'SB Bangar',
 'A Nehra',
 'A Kumble',
 'S Sreesanth',
 'GD McGrath',
 'A Nel',
 'Z Khan',
 'MM Patel',
 'PR Shah',
 'DW Steyn',
 'T Kohli',
 'PP Chawla',
 'L Balaji',
 'DL Vettori',
 'R Vinay Kumar',
 'K Goel',
 'MS Gony',
 'Z Khan',
 'AB Agarkar',
 'RR Powar',
 'Y Venugopal Rao',
 'S Tyagi',
 'A Nehra',
 'A Kumble',
 'SL Malinga',
 'RP Singh',
 'PP Chawla',
 'PJ Sangwan',
 'S Tyagi',
 'SK Warne',
 'AB Agarkar',
 'Jaskaran Singh',
 'DS Kulkarni',
 'SL Malinga',
 'SA Asnodkar',
 'Z Khan',
 'R Sathish',
 'AD Mathews',
 'SL Malinga',
 'AA Jhunjhunwala',
 'PP Ojha',
 'WP Saha',
 'SK Warne',
 'PP Ojha',
 'C Ganapathy',
 'Y Venugopal Rao',
 'S Anirudha',
 'PP Ojha',
 'Harmeet Singh',
 'P Kumar',
 'SB Jakati',
 'Kamran Khan',
 'SB Jakati',
 'Harmeet Singh',
 'KA Pollard',
 'S Nadeem',
 'MK Tiwary',
 'AB Agarkar',
 'A Mithun',
 'M Kartik',
 'TL Suman',
 'MV Boucher',
 'JA Morkel',
 'RP Singh',
 'SK Trivedi',
 'I Sharma',
 'SL Malinga',
 'WP Saha',
 'A Mithun',
 'DS Kulkarni',
 'SL Malinga',
 'SB Jakati',
 'RG Sharma',
 'S Badrinath',
 'R Sharma',
 'TP Sudhindra',
 'M Vijay',
 'Z Khan',
 'B Kumar',
 'PA Patel',
 'P Awana',
 'AB Agarkar',
 'LR Shukla',
 'M Kartik',
 'M Morkel',
 'PA Reddy',
 'MM Patel',
 'DW Steyn',
 'GB Hogg',
 'UT Yadav',
 'S Sreesanth',
 'DP Nannes',
 'A Mishra',
 'P Awana',
 'L Balaji',
 'MS Gony',
 'JH Kallis',
 'PP Chawla',
 'I Sharma',
 'AT Rayudu',
 'G Gambhir',
 'M Rawat',
 'Harbhajan Singh',
 'AT Rayudu',
 'I Sharma',
 'LJ Wright',
 'A Mishra',
 'S Kaul',
 'S Badrinath',
 'MM Patel',
 'DW Steyn',
 'NM Coulter-Nile',
 'BW Hilfenhaus',
 'AR Patel',
 'MA Starc',
 'YS Chahal',
 'STR Binny',
 'Z Khan',
 'R Vinay Kumar',
 'WD Parnell',
 'AP Tare',
 'R Ashwin',
 'KK Cooper',
 'RN ten Doeschate',
 'Parvez Rasool',
 'R Vinay Kumar',
 'KK Cooper',
 'M Morkel',
 'SP Narine',
 'DJ Muthuswami',
 'TG Southee',
 'DJ Bravo',
 'PP Chawla',
 'R Vinay Kumar',
 'R Dhawan',
 'MK Tiwary',
 'J Suchith',
 'JJ Bumrah',
 'Harbhajan Singh',
 'Mandeep Singh',
 'YS Chahal',
 'MM Sharma',
 'UT Yadav',
 'GJ Bailey',
 'BE Hendricks',
 'HV Patel',
 'SN Khan',
 'RA Jadeja',
 'MG Johnson',
 'MJ McClenaghan',
 'HV Patel',
 'I Sharma',
 'SP Narine',
 'KH Pandya',
 'MM Sharma',
 'A Nehra',
 'P Kumar',
 'GB Hogg',
 'S Kaushik',
 'VR Aaron',
 'DJ Bravo',
 'STR Binny',
 'R Bhatia',
 'GJ Maxwell',
 'M Morkel',
 'BB Sran',
 'Washington Sundar',
 'SS Iyer',
 'C Munro',
 'BB Sran',
 'S Mavi',
 'JD Unadkat',
 'CH Morris',
 'JD Unadkat',
 'Mohammed Siraj',
 'V Shankar',
 'RA Jadeja',
 'Basil Thampi',
 'RA Jadeja',
 'MJ McClenaghan',
 'J Archer',
 'KV Sharma',
 'R Ashwin',
 'PP Chawla',
 'JP Duminy',
 'V Shankar',
 'J Archer',
 'JP Duminy',
 'BA Stokes',
 'S Kaul',
 'S Gill',
 'Mustafizur Rahman',
 'PP Chawla',
 'P Krishna',
 'JJ Bumrah',
 'M Markande',
 'HV Patel',
 'JD Unadkat',
 'M Ur Rahman',
 'I Sharma',
 'A Joseph',
 'KH Pandya',
 'Kuldeep Yadav',
 'Mohammed Siraj',
 'KA Pollard',
 'JD Unadkat',
 'YK Pathan',
 'I Sharma',
 'KA Pollard',
 'K Paul',
 'KD Karthik',
 'SN Thakur',
 'DW Steyn',
 'SV Samson',
 'DJ Bravo',
 'Imran Tahir',
 'S Kaul',
 'UT Yadav',
 'UT Yadav',
 'Rashid Khan',
 'SP Narine',
 'TA Boult',
 'B Kumar',
 'JJ Bumrah']

# 7.Which batsman has played maximum number of dot balls?

In [50]:
ts = cf.query('total_runs == 6 | total_runs == 7')
ts.groupby('bowler')['bowler'].count().sort_values(ascending = False)[:2]

bowler
PP Chawla    171
A Mishra     170
Name: bowler, dtype: int64

In [51]:
ts = cf.query('total_runs == 4')
ts.groupby('bowler')['bowler'].count().sort_values(ascending = False)[:1]

bowler
UT Yadav    389
Name: bowler, dtype: int64

In [52]:
ts = cf.query('total_runs == 2')
ts.groupby('bowler')['bowler'].count().sort_values(ascending = False)[:1]

bowler
DJ Bravo    258
Name: bowler, dtype: int64

In [53]:
ts = cf.query('total_runs == 1')
ts.groupby('bowler')['bowler'].count().sort_values(ascending = False)[:1]

bowler
Harbhajan Singh    1549
Name: bowler, dtype: int64

# 8.Which batsman got stumped out maximum number of times?

In [54]:
stumpout = cf.query('dismissal_kind == "stumped"')

In [55]:
stumpout.groupby('batsman')['dismissal_kind'].count().sort_values(ascending = False)[:1]

batsman
SK Raina    8
Name: dismissal_kind, dtype: int64

#  9. Which non-striker has been part of maximum number of runouts?

In [56]:
runout = cf.query('dismissal_kind == "run out"')

In [57]:
runout.groupby('non_striker')['dismissal_kind'].count().sort_values(ascending = False)[:2]

non_striker
SK Raina      16
KD Karthik    16
Name: dismissal_kind, dtype: int64

# 10. How many matches won by each team ?

In [58]:
matches_won = df.groupby('winner').count()
matches_won['id']

winner
Chennai Super Kings            100
Deccan Chargers                 29
Delhi Capitals                  10
Delhi Daredevils                67
Gujarat Lions                   13
Kings XI Punjab                 82
Kochi Tuskers Kerala             6
Kolkata Knight Riders           92
Mumbai Indians                 109
Pune Warriors                   12
Rajasthan Royals                75
Rising Pune Supergiant          10
Rising Pune Supergiants          5
Royal Challengers Bangalore     84
Sunrisers Hyderabad             58
Name: id, dtype: int64

# 11.Total matches played by each team

In [59]:
matches_played = df['team1'].value_counts()+ df['team2'].value_counts()
matches_played

Chennai Super Kings            164
Deccan Chargers                 75
Delhi Capitals                  16
Delhi Daredevils               161
Gujarat Lions                   30
Kings XI Punjab                176
Kochi Tuskers Kerala            14
Kolkata Knight Riders          178
Mumbai Indians                 187
Pune Warriors                   46
Rajasthan Royals               147
Rising Pune Supergiant          16
Rising Pune Supergiants         14
Royal Challengers Bangalore    180
Sunrisers Hyderabad            108
dtype: int64

# 12.Each Season Winner

In [60]:
season_winner = df.groupby('season')['season','winner'].tail(1)
season_winner.sort_values(by="season",ascending=True)

     season                 winner
116    2008       Rajasthan Royals
173    2009        Deccan Chargers
233    2010    Chennai Super Kings
306    2011    Chennai Super Kings
380    2012  Kolkata Knight Riders
456    2013         Mumbai Indians
516    2014  Kolkata Knight Riders
575    2015         Mumbai Indians
635    2016    Sunrisers Hyderabad
58     2017         Mumbai Indians
695    2018    Chennai Super Kings
755    2019         Mumbai Indians

# 13.Teams won by maximum runs

In [61]:
maximum_runs = df.sort_values('win_by_runs', ascending = False)[:5].head(5)
maximum_runs[['season','winner','win_by_runs']]

     season                       winner  win_by_runs
43     2017               Mumbai Indians          146
619    2016  Royal Challengers Bangalore          144
59     2008        Kolkata Knight Riders          140
556    2015  Royal Challengers Bangalore          138
410    2013  Royal Challengers Bangalore          130

# 14.Team won by maximum wickets

In [62]:
max_wickets=df[df['win_by_wickets']==10]
max_wickets['winner'].value_counts()

Royal Challengers Bangalore    3
Chennai Super Kings            1
Deccan Chargers                1
Mumbai Indians                 1
Kings XI Punjab                1
Delhi Daredevils               1
Rajasthan Royals               1
Sunrisers Hyderabad            1
Kolkata Knight Riders          1
Name: winner, dtype: int64